.addnumber{
    form{
        margin-top: 10px;
        input{
            width: 95%;
            height: 40px;
            background-color:white;
            padding-left: 10px;
            border-radius: 10px;

            &::placeholder{
                color: black;
            }

        }
    }
}